@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* The root pseudoclass is the root element of the <html> element */
:root {

    --default-font: 'Open Sans';
    --header-font: 'Archivo Black';

    /* Light theme color values */
    --bg-light: #fefefe;
    --secondary-light: #353535;
    --complementary-light: #303030;
    --font-light: #080909;

    /* Dark theme color values */
    --bg-dark: #080909;
    --secondary-dark: #292c2f;
    --complementary-dark: #414756;
    --font-dark: #fefefe;

    font-family: var(--default-font), sans-serif;
    font-size: 20px;

}

/* Use of media prefers-color-scheme to set the initial values for the theme */
@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: var(--bg-light);
        --secondary-color: var(--secondary-light);
        --complementary-color: var(--complementary-light);
        --font-color: var(--font-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: var(--bg-dark);
        --secondary-color: var(--secondary-dark);
        --complementary-color: var(--complementary-dark);
        --font-color: var(--font-dark);
    }
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: var(--font-color);
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#layout {
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    /* padding: 40px; */
    margin: 0px 10px 0px 10px;
}

h1 {
    font-size: 37px;
}

h2::after {
    content: ' #';
    display: none;
}

h2:hover::after {
    display: inline;
}

p {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

code {
    font-family: JetBrains Mono;
}

.hyperlink-container {
    text-decoration: unset;
    color: unset;
    display: flex;
    justify-content: center;
}

svg {
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 30px;
}

.main-column {
    align-self: stretch;
    /*justify-content: center;*/
    flex: 2;
}

.end-column {
    flex-direction: row;
    justify-content: end;
}

.start-column {
    flex-direction: row;
    justify-content: start;
}

#content {
    align-items: start;
}

.main-column img {
    align-self: center;
    max-height: 420px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start; 
    align-items: center;
    background-color: var(--secondary-color);
    word-wrap: break-word;
    height: 50px;
    padding: 0px 15px 0px 15px;
    border-bottom: 1px solid var(--font-color);
}

.header-title {
    margin-block-start: unset;
    margin-block-end: unset;
}

.header-content {
    display: flex;
    align-items: center;
    background-color: var(--complementary-color);
    height: 25px;
    border-bottom: 1px solid var(--font-color);
}

.main-title {
    font-weight: bold;
    text-align: start;
}

.links {
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;
    flex-grow: 2;
}

.hyperlink {
    text-decoration: unset;
    color: unset;
    font-size: 16px;
    /* padding-left: 20px; */
    /* 
     * Checar por que la siguiente opcion interfiere con el word-wrap de la
     * clase dropdown-menu-option
     * white-space: nowrap;
    */
}

.hyperlink:hover {
    color: #5A8FD8;
    text-shadow: -2px 3px 4px rgba(73, 73, 73, 0.36);
}

.input {
    font-family: var(--default-font);
    height: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: block;
    text-align: center;
    padding: 5px;
    width: 250px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
    position: absolute;
    background-color: #476E9E;
    -webkit-transition: all .4s ease-out;
    left: calc(50% - 125px);
    transition: all .4s ease-out;
}

.dropdown-menu-option {
    word-wrap: break-word;
    /* Ver porque usando un <a> para esta clase no funciona, y set tuvo que usar
     * un <div>
    */
    max-width: 100%;
}

.dropdown-menu-option:hover {
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.index-menu {
    max-width: 225px;
    min-width: 225px;
    padding-inline-start: unset;
    border: 0px solid var(--font-color);
    list-style-type: none;
}

.index-menu-item {
    font-size: 16px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid var(--font-color);
}

.index-menu-item:hover {
    background-color: gray;
}

.search-input {
    align-self: stretch;
    height: 30px;
}

.search-input:focus-visible {
    outline-style: none;
    border-style: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* 
.slider.round {
  border-radius: 34px;
}
*/ 

/* .slider.round:before {
  border-radius: 50%;
} */

.hidration-button-test {
    background-color: pink;
}

.menu-title {
    text-align: center;
    margin: 30px 20px 30px 20px;
}
