@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    width: 100%;
    height: 100%;
    background-color: #5A665D;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFEFC;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#layout {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    /* padding: 40px; */
    margin: 0px 10px 0px 10px;
}

li {
}

p {
    font-weight: bold;
    text-align: center;
}

.image-hyperlink {
    display: flex;
    align-items: center;
}

svg {
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0px 30px 0px 30px;
}

.main-column {
    flex: 2;
}

/* We use align-items and no justify beacuse the direction is in a column way */
.start-column {
    align-items: flex-start;
}

/* We use align-items and no justify beacuse the direction is in a column way */
.end-column {
    align-items: flex-end;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start; 
    align-items: center;
    background-color: #6B7D83;
    word-wrap: break-word;
    height: 70px;
}

.header-content {
    background-color: #6A7D43;
    height: 50px;
}

.main-title {
    text-align: center;
}

.links {
    padding-inline-start: unset;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;
    flex-grow: 2;
}

.hyperlink {
    text-decoration: unset;
    color: unset;
    font-weight: 800;
    font-size: 17px;
    /* padding-left: 20px; */
    white-space: nowrap;
}

.hyperlink:hover {
    color: #5A8FD8;
    text-shadow: -2px 3px 4px rgba(73, 73, 73, 0.36);
}

.input {
    height: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
}

.dropdown-menu-option {
    display: block;
    width: 100%;
    background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-option:hover {
    background: gray;
}
